.Background2{
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}
.Information{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    top: 60px;
}
.Left{
    
    min-width: 18%;
    max-width: 18%;
    margin-bottom: -.1%;
}
.Left_A{
    margin-bottom: -.1%;
    
    min-width: 31.5%;
    max-width: 31.5%;
}
.Right{
    min-width: 23%;

}
.Logo{
    margin-top: -24%;
}