.btn{
    min-width: 25vw;
    max-width: 25vw;
    min-height: 5vh;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    font-size: 3vh;
    background-color: rgb(14, 38, 75);
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
.btn:hover{
    background-color: rgb(50, 50, 145);
    color: white;
}
.btn:active{
    background-color:rgba(194, 207, 5, 0.514);
}

.Tabs{
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    background-color: rgb(5, 14, 44);
}
.ButtonSize{
    min-width: 25vw;
    max-width: 25vw;
    border-radius: 5px;
}